extends layout

block content
  h1 Bank of America PDF to QIF statement converter.
  p Welcome! Please upload a BoA statement pdf.

  form(method="post", enctype="multipart/form-data", action="")
    p
      input(type="text", name="name")
    p 
      input(type="file", name="estmt")
    p 
      input(type="submit", value="submit")


